<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app" class="mt-3">
      <div class="container">
        <div class="row text-center" v-if="gameIsRunning">
          <div class="col-md-6 col-6">
            <h3 class="text-uppeercase">Satoshi</h3>
            <img src="./images/Ash_SS.png" width="40%" height="300px" alt="" />
            <span id="resultSatoshi"></span>
            <div class="progress" style="height: 50px; margin-top: 20px">
              <div
                class="progress-bar bg-danger"
                :style="{width:satoshiHeight +'%'}"
              ></div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <h3 class="text-uppeercase">Pikachu</h3>
            <span id="resultPikachu"> </span
            ><img src="./images/pikachu.png" width="50%" alt="" />
            <div class="progress" style="height: 50px; margin-top: 10px">
              <div
                class="progress-bar bg-danger"
                :style="{width:pikachuHeight +'%'}"
              ></div>
            </div>
          </div>
        </div>

        <div
          v-if="gameIsRunning"
          class="mt-2 text-white ml-2"
          style="position: absolute; top: 0; width: 100%; left: 0"
        >
          <h5>
            <img src="./images/coin.png" width="3%" alt="" /> {{cash}}
            <button
              class="text-white bg-transparent border-0"
              @click="addCoin"
              style="font-weight: bold"
            >
              +
            </button>
          </h5>
          <h5>
            <img src="./images/shild.png" width="3%" alt="" /> {{ defSatoshi }}
          </h5>
        </div>

        <div
          class="row text-center"
          style="margin-top: 30%"
          v-if="!gameIsRunning"
        >
          <div class="col-md-12">
            <button
              class="text-uppercase bg-transparent border-0"
              @click="startGame"
            >
              <img src="./images/start.png" width="50%" alt="" />
            </button>
          </div>
        </div>
        <div
          class="row text-center mt-3 shadow border bg-white controls"
          style="height: 200px;"
          v-else
        >
          <div class="col-md-8 col-7" style="line-height: 200px">
            <div class="row">
              <div class="col-md-3 col-3">
                <button
                  class="text-uppercase border-0 bg-transparent"
                  id="attack"
                  @click="attack"
                >
                  <img src="./images/attack.png" alt="" width="40%" />
                </button>
              </div>
              <div class="col-md-3 col-3">
                <button
                  class="text-uppercase bg-transparent border-0"
                  @click="specialAttack"
                  id="specialAttack"
                >
                  <img src="./images/specialAttack.png" alt="" width="40%" />
                </button>
              </div>
              <div class="col-md-3 col-3">
                <button
                  class="text-uppercase bg-transparent border-0"
                  @click="heal"
                  id="heal"
                >
                  <img src="./images/heal.png" alt="" width="40%" />
                </button>
              </div>
              <div class="col-md-3 col-3">
                <button
                  class="text-uppercase bg-transparent border-0"
                  id="giveup"
                  @click="giveup"
                >
                  <img src="./images/giveup.png" alt="" width="40%" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-5" style="line-height: 200px">
            <div class="row">
              <div class="col-md-6 col-6" v-for="(item, index) in items" :key="index">
                <button
                  class="text-uppercase bg-transparent border-0"
                  @click="buyItem(index)"
                >
                  <img :src="item.thumbail" alt="" width="40%" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
