<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6">
            <h3 class="text-uppeercase">Satoshi</h3>
            <img src="Ash_SS.png" width="40%" height="300px" alt="" />
            <div class="progress" style="height: 50px">
              <div
                class="progress-bar bg-danger"
                :style="{width:satoshiHeight +'%'}"
              ></div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="text-uppeercase">Pikachu</h3>
            <img src="pikachu.jpeg" width="50%%" alt="" />
            <div class="progress" style="height: 50px; margin-top: 35px">
              <div
                class="progress-bar bg-danger"
                :style="{width:pikachuHeight +'%'}"
              ></div>
            </div>
          </div>
        </div>
        <div class="row text-center shadow p-3 border" v-if="!gameIsRunning">
          <div class="col-md-12">
            <button class="text-uppercase btn btn-success" @click="startGame">
              start new game
            </button>
          </div>
        </div>
        <div class="row text-center mt-5 shadow p-3 border" v-else>
          <div class="col-md-12">
            <button
              class="text-uppercase btn btn-danger"
              id="attack"
              @click="attack"
            >
              attack
            </button>
            <button
              class="text-uppercase btn btn-warning"
              @click="specialAttack"
              id="specialAttack"
            >
              special attack
            </button>
            <button
              class="text-uppercase btn btn-success"
              @click="heal"
              id="heal"
            >
              heal
            </button>
            <button
              class="text-uppercase text-dark btn border"
              id="giveup"
              @click="giveup"
            >
              give up
            </button>
          </div>
        </div>
        <div class="row log border mt-3 text-center" v-if="isLogs">
          <div class="col-md-7 mx-auto p-3">
            <p
              v-for="(item, index) in logsGame"
              :key="index"
              class="text-danger"
            >
              {{item}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
